
a {
    text-decoration: none;
}

a:hover {
    color: #027BCE;
}

.header {
    text-align: center;
    padding-top: 50px;
    font-family: Arial;
    color: #00487C;
    font-size: 50px;
}

.options {
    text-align: center;
    padding-top: 100px;
    align-items: center;
}

.option {
    display: inline;
    width: 30%;
    padding-left: 100px;
    padding-right: 100px;
}

.btn {
    background: #4BB3FD;
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}