<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Math Skills Test</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link href="/static/css/index.css" rel="stylesheet">
</head>
<body>

<div class="header">
    <a href="/"><h1>Math Skills Test</h1></a>
</div>

<div class="options">
    <form class="option" action="/test">
        <input type="submit" class="btn" value="Start the Test" />
    </form>
    <form class="option" action="/highscore">
        <input type="submit" class="btn" value="View Highscores" />
    </form>

</div>



</body>
</html>