<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Math Skills Test</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/math-test.js"></script>
    <link href="/static/css/test.css" rel="stylesheet">
</head>
<body>

    <div class="header">

        <a href="/">Home</a>
    </div>

    <div class="test">

        <span id="equation"></span>
        <span> = </span>
        <input type="text" id="answer">
        <button id="next">Next Problem</button>
    </div>


</body>
</html>